# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.conda/

# Dataset
aptos2019-blindness-detection/
train_images/
test_images/
*.zip

# Logs
history/
*.log

# Old/duplicate models
best_finetuned_model.keras
retinascan_efficientnetb3_improved.keras

# Test files
test.py
explore_data.py
train_baseline.py

# OS
.DS_Store
Thumbs.db
