# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.conda/

# Dataset
aptos2019-blindness-detection/
train_images/
test_images/
*.zip

# Logs
history/
*.log

# OS
.DS_Store
Thumbs.db

best_finetuned_model.keras
retinascan_efficientnetb3_improved.keras

best_finetuned_model.keras
retinascan_efficientnetb3_improved.keras
test.py
