# Python 3.10 or 3.11 is recommended.
tensorflow==2.21.0
pandas
numpy
scikit-learn
pillow
matplotlib
fastapi
uvicorn
python-multipart
streamlit
requests
mlflow
dvc==3.67.1
pyyaml
pytest
pytest-cov
httpx
httpx2
black
isort
flake8
pre-commit
